<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml"
      lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin panel</title>
    <link href rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand text-white">
           <span th:if="${currentUser != null}" th:text="${currentUser.lastName}"></span>
           <span th:if="${currentUser != null}" th:text="${currentUser.id}"></span>
        </span>
        <form th:action="@{/logout}" method="post">
            <button type="submit" class="btn btn-dark text-secondary">Logout</button>
        </form>
    </div>
</nav>

<section>
    <div class="container-fluid" style="background-color: white">
        <div class="row">
            <div class="p-0 col-2">
                <nav class="nav-pills nav flex-column pt-2">
                    <a class="nav-link active" href="/admin/users">Admin</a>
                    <a class="nav-link" href="/user">User</a>

                    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                        <a class="nav-link active" href="/admin" sec:authorize="hasAuthority('ADMIN')" role="tab"
                           aria-controls="v-pills-home" aria-selected="true">Admin</a>
                        <a class="nav-link" href="/user" sec:authorize="(hasAnyAuthority('ADMIN', 'USER'))"
                           role="tab"
                           aria-controls="v-pills-profile" aria-selected="false">User</a>
                    </div>
                </nav>
            </div>
            <div class="col-10 px-0">
                <div class="container-fluid" style="background-color: white">
                    <h1 class="m-0 fw-bold">Admin panel</h1>
                    <div class="tab-content" id="tabContent">
                        <ul class="nav nav-tabs">
                            <a class="nav-link" data-toggle="tab" th:href="@{/admin/users}">Users Table</a>
                            <a class="nav-link active" data-toggle="tab">Create New User</a>
                        </ul>
                        <div class="card">
                            <div class="card-header">
                                <div class="m-1">
                                    <h4>Create New User</h4>
                                </div>
                            </div>
                            <div class="col-md bg-white border">
                                <form align="center" class="offset-md-4 col-md-3 mt-4 mb-4"
                                      th:align="center"
                                      th:action="@{/admin/users}"
                                      th:object="${user}"
                                      method="POST">
                                    <label for="username"><b>Username</b></label>
                                    <input th:name="username" th:field="*{username}" th:type="text" class="form-control"
                                           id="username" required/>
                                    <br>
                                    <label for="firstName"><b>FirstName</b></label>
                                    <input th:name="firstName" th:field="*{firstName}" th:type="text" class="form-control"
                                           id="firstName" required/>
                                    <br>
                                    <label for="lastName"><b>LastName</b></label>
                                    <input th:name="lastName" th:field="*{lastName}" th:type="text" class="form-control"
                                           id="lastName" required/>
                                    <br>
                                    <label for="age"><b>Age</b></label>
                                    <input th:name="age" th:field="*{age}" th:type="text" class="form-control"
                                           id="age" required/>
                                    <br>
                                    <label for="password"><b>Password</b></label>
                                    <input th:name="password" th:field="*{password}" th:type="password"
                                           class="form-control"
                                           id="password"/>
                                    <br>
                                    <label for="roles"><b>Role</b></label>
                                    <select multiple class="form-control form-control-sm" id="roles" name="roles"
                                            size="2" required>
                                        <option value="1">ADMIN</option>
                                        <option selected="selected" value="2">USER</option>
                                    </select>
                                    <br>
                                    <button th:type="submit" class="btn btn-success btn-lg" value="Create New User">
                                        Create New User
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>

