<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Users</title>
  <link href rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
        crossorigin="anonymous">
</head>
<body>
<h1>Users</h1>
<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col">Id</th>
    <th scope="col">Username</th>
    <th scope="col">Surname</th>
    <th scope="col">Password</th>

  </tr>
  </thead>
  <tbody>
  <tr th:each="user:${user}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.surname}"></td>
    <td th:text="${user.password}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>